<div class="container">
  <div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
      <div class="card darken-1">
        <div class="card-content blue-grey-text">
          <span class="card-title">Social Sign in</span>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s3">
              <app-google-login></app-google-login>
            </div>
            <div class="col s3">
              <app-linkedin-login></app-linkedin-login>
            </div>
            <div class="col s3">
              <app-facebook-login></app-facebook-login>
            </div>
            <div class="col s3">
              <app-linkedin-oauth-login></app-linkedin-oauth-login>
            </div>
            <button>
              <app-saml-test></app-saml-test>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l2"></div>
  </div>
</div>
